body{
    background: url(img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input[type=range]{
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    margin: 8px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 26px;
    width: 10px;
    border-radius: 3px;
    background: white;
    cursor: pointer;
    margin-top: -8px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: rgba(255,255,255,.7);
    border-radius: 1.3px;
  }

input[type=range]::-moz-range-thumb {
    height: 26px;
    width: 16px;
    border-radius: 3px;
    background: white;
    cursor: pointer;
    margin-top: -14px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: rgba(255,255,255,.7);
    border-radius: 1.3px;
}

input[type=range]::-ms-thumb {
    height: 26px;
    width: 16px;
    border-radius: 3px;
    background: white;
    cursor: pointer;
    margin-top: -14px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: rgba(255,255,255,.7);
  }

  input[type=range]::-ms-fill-upper {
    background: rgba(255,255,255,.7);
  }
  
input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
  
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

.main{
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    width: 100%;
}

.sound-controller{
    margin-bottom: 8vh;
}

.sound-icon{
    font-size: 10rem;
    color: rgba(255,255,255,.7);
}

.sound-icon-row{
    margin-bottom: 25px;
}

#menu-root{
    position: absolute;
    top: 0;
    left: 0;
}

.menu-btn {
    display: inline-block;
    color: rgba(255,255,255,.7);
    cursor: pointer;
    height: 150px;
    width: 150px;
    border-left: 1px solid rgba(255,255,255,.7);
    border-right: 1px solid rgba(255,255,255,.7);
    z-index: 999;
}

.menu-btn:hover {
    background-color: rgba(255, 255, 255, .2);
}

.menu-btn:hover > .row:nth-child(2) {
    background: linear-gradient(bottom, rgba(255,255,255,.2), rgba(255,255,255,0));
}

.menu-btn.active{
    color: white;
    background-color: rgba(255, 255, 255, .7);
}

.menu-btn > .row:first-child {
    height:65%
}

.menu-btn > .row:nth-child(2) {
    height:35%
}

.menu-btn-title{
    margin-top: 1rem;
    font-size: 2.5rem;
}

.menu-btn-action{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
}

.menu-btn-action > span {
    border: 2px solid rgba(255,255,255,.7);
    border-radius: 3rem;
    padding: 10px;
}